@keyframes slideMoveHorizontal {
    0%{
        transform:translateX(0%);
    }
    25%{
        transform: translateX(-25%);
    }
    50%{
        transform: translateX(-50%);
    }
    75%{
        transform: translateX(-75%);
    }
    100%{
        transform: translateX(0%);
    }
    /* calc(-(100%/4)*(4 - 1))
    = 25 * 3
    = 75 */
}