/* /////////////////////////////pc페이지디자인////////////////////////////// */
header{
    height: 5rem;
    background-color: var(--main-color);
    /* border-bottom: 1px solid var(--main-color); */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}
header .innerContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.gnb{
    display: flex;
    text-transform: uppercase;
    color: #fff;
}
.gnb>li{
    margin-right: 3rem;
}
.gnb>li:last-of-type{
    margin-right: 0;
}
.hero{
    height: 100vh;
    position: relative;
}
.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.heroDesc{
    position: absolute;
    width: 100%;
    height: 100%;
    /* 기준영역의 왼쪽 위에 붙이기 */
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.603);
    color: #fff;
}
.heroDesc .innerContent{
    height: 100%;
    /* 유튜브로 공부하기 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.heroDesc h4{
    font-size: 3.15rem;
}
.mo{
    display: none;
}
.con1{
    padding-top: 7.5rem;
    text-align: center;
    position: relative;
}
.con1:after{
    content:"";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2rem;
    background-color: var(--main-color);
    z-index: -1;
}
.con1img{
    margin-top: 4rem;
    line-height: 0;
}
.con2{
    padding-top: 7.5rem;
    padding-bottom: 3.5rem;
}
.con2 .innerContent{
    display: flex;
    /* 나란히 배치 */
    flex-wrap: wrap;
    /* 아이템들이 줄바꿈이 가능하게 만들어줌 */
    justify-content: space-between;
}
.con2 section{
    width: calc(50% - 3.5rem);
}
.con2 h4{
    padding: 1rem 0;
}
/* 맞나? */
.pro3{
    margin-top: 3.5rem;
}
.desc{
    margin-bottom: 4rem;
}
.pro1>p{
    margin-bottom: 1.5rem;
}
.pro1>p:last-of-type{
    margin-bottom: 0;
}
.pro2 dl{
    display: flex;
    flex-wrap: wrap;
}
.pro2 dl>dt{
    width: 12rem;
    margin-bottom: 1.5rem;
    color: var(--main-color);
    font-weight: var(--font-weight-bold);
}
.pro2 dl>dd{
    width: calc(100% - 12rem);
}
.pro2 p{
    margin-bottom: 1.5rem;
}
.pro2 p:last-of-type{
    margin-bottom: 0;
}
.charList{
    display: flex;
    margin-bottom: 1.5rem;
}
.charList>li{
    border: 1px solid var(--main-color);
    background: #fff;
    color: var(--main-color);
    padding: 0.5rem 1rem;
    margin-right: 0.8rem;
}
.charList>li.rev{
    background-color: var(--main-color);
    color: #fff;
}
.pro3 dt{
    margin-bottom: 1.5rem;
    color: var(--main-color);
    font-weight: var(--font-weight-bold);
}
.certList>li{
    margin-bottom: 1rem;
    display: flex;
}
.certList>li>i{
    width: 12rem;
}
.certList>li>span{
    width: calc(100% - 12rem);
}
.certList>li:last-of-type{
    margin-bottom: 0;
}
.con3{
    background-color: var(--main-color);
    padding: 3.5rem 0;
    color:#fff;
}
.con3 h5{
    font-weight: var(--font-weight-bold);
    margin-bottom: 0.5rem;
}
.eduList{
    display: flex;
    /* 나란히 */
    flex-wrap: wrap;
    /* 줄바꿈 */
}
.eduList>li{
    width: calc((100% - (3 - 1)*1rem)/3);
    box-sizing: border-box;
    margin-right: 1rem;
    padding: 1rem 0;
}
.eduList>li:nth-of-type(3n){
    margin-right: 0;
}
.eduList h6 img{
    height: 1.5rem;
    margin-right: 1rem;
}
.eduList h6{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.con4{
    padding-top: 7rem;
    padding-bottom: 7rem;
    text-align: center;
}
.popupList{
    margin-top: 3.5rem;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}
.popupList>li{
    width: calc((100% - (3 - 1)*1rem)/3);
    box-sizing: border-box;
    margin-right: 1rem;
    padding: 1rem 0;
}
.popupList>li:nth-of-type(3n){
    margin-right: 0;
}
.popupList>li figure{
    margin-bottom: 1rem;
}
.popupList>li>div:nth-of-type(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popupList>li>div:nth-of-type(1) h6{
    font-size: 1.1rem;
    font-weight: var(--font-weight-bold);
}
.btnDown{
    font-size: 0.9rem;
    padding: 0.7rem 1.5rem;
    background-color: #000;
    color: #FFF;
    border-radius: 2rem;
}
.btnDown:hover{
    color: var(--main-color);
}
.popupList>li>figure{
    line-height: 0;
}
.popupList>li>figure.border{
 border: 1px solid #000;
}
.popupList>li>p{
    margin: 1rem 0;
}
.popupList>li>div:nth-of-type(2){
    display: flex;
}
.popupList>li>div:nth-of-type(2)>dl{
    /* width: 50%; */
    flex: 1;
    /* flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1; */
    /* 해당 dl태그 2개가 1:1너비로 너비를 나눠갖는다 */
}
.popupList>li>div:nth-of-type(2)>dl dt{
    font-size: 1.1rem;
    font-weight: var(--font-weight-bold);
    margin-bottom: 1rem;
}
.popupList>li>div:nth-of-type(2)>dl dd{
    display: flex;
    align-items: center;
}
.thumbColor{
    width: 1.1rem;
    height: 1.1rem;
    background-color: #fff;
    border: 1px solid  #000;
    font-size: 0;
    margin-right: 0.5rem;
    box-sizing: border-box;
}
.color_A2001B{
    border: none;
    background-color: #A2001B;
}
/* .color_FFFFFF{
    border: 1px solid #000;
    background-color: #FFFFFF;
} */
.color_FFD845{
    border: none;
    background-color: #FFD845;
}
.color_3E2D51{
    border: none;
    background-color: #3E2D51;
}
.color_DF2126{
    border: none;
    background-color: #DF2126;
}
.color_F4F1D9{
    border: none;
    background-color: #F4F1D9;
}
.color_EEC768{
    border: none;
    background-color: #EEC768;
}
.color_151D32{
    border: none;
    background-color: #151D32;
}
.color_FF7A5B{
    border: none;
    background-color: #FF7A5B;
}
.color_000000{
    border: none;
    background-color: #000;
}
.con5 .innerContent{
    text-align: center;
}


.color_65B7F1{
    border: none;
    background-color: #65B7F1;
}
.color_A1FF57{
    border: none;
    background-color: #A1FF57;
}
.color_C0C1BC{
    border: none;
    background-color: #C0C1BC;
}
.color_276A9F{
    border: none;
    background-color: #276A9F;
}
.color_FF7A57{
    border: none;
    background-color: #FF7A57;
}
.color_BDE372{
    border: none;
    background-color: #BDE372;
}
.color_F7C890{
    border: none;
    background-color: #F7C890;
}
.color_AB362F{
    border: none;
    background-color: #AB362F;
}

.slideStation{
    overflow: hidden;
}
.train{
    width: 400%;
    display: flex;
    animation: slideMoveHorizontal 16s ease 0s infinite;
}
.train>li{
    /* width: calc(100%/4); */
    flex: 1;
}
.train>li figure{
    line-height: 0;
    /* width: 100%;
    height: 600px; */
}
.train>li figure img{
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
}
.train>li .innerContent{
    display: flex;
    text-align: left;
    margin-top: 2rem;
}
.train>li .innerContent section{
    flex: 1;
    /* flex-basis:0%
    flex-grow:1;
    flex-shrink:1; */
}
.train>li .innerContent section:nth-of-type(1){
    margin-right: 7rem;
}
.train>li .innerContent section div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.train>li .innerContent section div h6{
    font-weight: var(--font-weight-bold);
}
.train>li .innerContent>section:nth-of-type(2){
    display: flex;
}
.train>li .innerContent>section dl{
    flex: 1;
}
.train>li .innerContent>section dl:nth-of-type(1){
    margin-right: 1rem;
}
.train>li .innerContent>section dl dt{
    padding: 0.65rem 0;
    font-weight: var(--font-weight-bold);
    margin-bottom: 1rem;
}
.train>li .innerContent>section dl dd{
    display: flex;
    align-items: center;
}