h1:hover{
    background: blue;
    color: #fff;
}
h1:active{
    letter-spacing: 20px;
    text-decoration: underline;
    background-color: purple;
}
p{
    display: flex;
    border: 1px solid blue;
    /* justify-content: space-between; */
    align-items: center;
}
/* befor태그는 p태그 안의 자식 중에서 첫번째 자식인 태그임 */
p:before{
    display: inline-block;
    content:"";
    width: 50px;
    height: 50px;
    border: 1px solid red;
    background: url("../img/quote1.png") no-repeat 50% 50% / contain;
}
p:after{
    /* 내용이 들어가든 안들어가든 befor/after 태그를 쓰고 싶으면 써야함. 이게 없으면 가상태그가 안만들어짐. */
    /* display: inline-block; */
    content:"";
    border: 1px solid red;
    width: 50px;
    height: 50px;
    border: 1px solid red;
    background: url("../img/quote2.png") no-repeat 50% 50% / contain;
}